* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.cover {
    width: 100%;
    height: 250px;
    border-bottom: 3px solid #EF332E;
}

.profile {

    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    inset: 0;
    margin: 125px auto;
    border: 3px solid #EF332E;
    background-image: url(./images/moran.jpg);
    background-size: cover;
}


section {
    margin-top: 125px;

}

section>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

section>div>img {
    width: 50px;
    height: 50px;
}

@font-face {
    font-family: "Heebo-Black";
    src: url(./Heebo/static/Heebo-Black.ttf);
}

section>div>h1 {
    font-family: "Heebo-Black";
    text-align: center;
    font-size: 3em;
}

@font-face {
    font-family: "Heebo-Regular";
    src: url(./Heebo/static/Heebo-Regular.ttf);
}

section h2 {
    font-family: "Heebo-Regular";
    text-align: center;
    font-size: 1.5em;
    direction: rtl;
}

.social_media {
    width: 97.5%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    place-content: center;
    gap: 15px;
    justify-content: center;
    align-items: center;

}

.social_media>a {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #EF332E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_media>a>img {
    width: 50px;
    height: 50px;
}


.map {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    width: 100%;
    border-radius: 15px;
}

.QR {
    width: 85%;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #EF332E;


}

footer>h2 {
    font-family: "Heebo-Black";
    direction: rtl;
    color: black;
    margin: 0 15px;
    font-size: 1em;
}

@media screen and (min-width:1000px) {
    .cover {
        width: 100%;
        height: 550px;
        border-bottom: 3px solid #EF332E;
    }

    .profile {
        margin: 425px auto;
        border: 3px solid #EF332E;
    }

    .map {
        width: 1000px;
        height: 1000px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .map>iframe {
        width: 100%;
        height: 100%;
    }

    .QR {
        width: 1000px;
        height: 1000px;
    }

    .social_media {
        width: 97.5%;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
        align-items: center;

    }
}